.block-info__title {
  margin: 10px auto;
  font-family: "Banny Bold Round";
  font-size: 70px;
  color: #ffffff;
  text-transform: uppercase; /* все буквы заглавные*/
}

@media screen and (max-width: 767px) {
  .block-info__title {
    font-size: 40px;
  }
}
