@import url(./__about/menu-block__about.css);

.menu-block {
  max-width: 1280px;
  margin: 0 auto 100px auto;
}

@media screen and (max-width: 1300px) {
  .menu-block {
    margin: 0 20px 100px 20px;
  }
}

@media screen and (max-width: 767px) {
  .menu-block {
    margin-bottom: 30px;
  }
}