.main {
    position: relative;
    max-width: 100%;
    height:800px;
    background: url(../../images/header-bg.jpg) no-repeat center;
    background-size: cover;
}

@media screen and (max-width: 767px) {
    .main {
        height: 650px;
    }
}