@import url(./__item/menu-rest__item.css);
@import url(./__explanation/menu-rest__explanation.css);

.menu-rest {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
  max-width: 1280px;
  margin: 51px auto 100px auto;
}

.menu-rest_soupe {
  display: none;
}
.menu-rest_pasta {
  display: none;
}
.menu-rest_desert {
  display: none;
}
.menu-rest_wine {
  display: none;
}
.menu-rest_beer {
  display: none;
}
.menu-rest_drinks {
  display: none;
}


@media screen and (max-width: 1024px) {
  .menu-rest {
    grid-column-gap: 8px;
    margin-left: 20px;
   
  }
}

@media screen and (max-width: 767px) {
  .menu-rest {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 10px;
  }
}

@media screen and (max-width: 475px) {
  .menu-rest {
    margin-top: 20px;
  }
}