.menu-rest__item {
  max-width: 363px;
  max-height: 66px;
  font-family: "Banny Round";
  font-size: 18px;
  line-height: 18px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .menu-rest__item {
    font-size: 16px;
    padding: 7px;
  }
}

@media screen and (max-width: 475px) {
  .menu-rest__item {
    font-size: 14px;
    padding: 0;
  }
}