@import url(./__item/menu__item.css);
@import url(./__link/menu__link.css);

.menu {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 450px;
  padding: 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 1150px) {
    .menu {
        width: 300px;
    }
  }